.pc-wrapper.pc-column.pc-col1
  h1 #{title}
hr
.pc-wrapper.pc-rowNoWrap
  .pc-column.pc-col2
    a.swipebox(rel='1', href='https://content.parkcameras.com/5/1/images/catalog/i/' + mainImageURL, title=title)
      img(src='https://content.parkcameras.com/5/1/images/catalog/i/' + mainImageURL, alt=title)

    .pc-itemGallery
      each URL in subImageURL   
          a.swipebox(rel='1', href='https://content.parkcameras.com/5/1/images/catalog/i/' + URL, title=title)
            img(src='https://content.parkcameras.com/5/1/images/catalog/i/xl_' + URL, alt=title)

  .pc-column.pc-col2
    each desc in description
      p= desc
    ul.pc-itemFeat 
        p
          b Key Features
        each feats in features
          li= feats
    br
    a.pc-btn-standard(href='https://www.parkcameras.com/p/' + productSKU) Pre-Order Now