- var title = 'Park Cameras Ambassadors'
- var photographer = 'Insert Photographer Name Here'
- var biography = ['Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lobortis facilisis leo, nec rutrum nisi euismod et. Donec sit amet nisi pellentesque, interdum urna non, viverra lacus. Pellentesque euismod sit amet mi non condimentum. In pretium dui leo, non malesuada arcu iaculis ut. Morbi maximus nisi sem, nec tristique massa ultricies quis. Morbi consequat ullamcorper magna sit amet facilisis. Sed mi ex, porttitor at convallis in, suscipit non nulla. Vestibulum auctor bibendum magna nec volutpat. Nullam et dictum neque. Aliquam eu malesuada arcu. Maecenas fringilla, nisi vel dapibus semper, est dui dictum nibh, ac pulvinar libero nisi ac elit. Nunc dui enim, mattis vitae mauris sit amet, dignissim dapibus tortor. Mauris semper velit diam, nec mattis quam auctor eu.']
- var accolades = ['Insert Awards Here', 'Insert Another Award Here'];
- var biographyImageURL = 'https://placehold.it/600x400'
- var galleryImageURL =['https://placehold.it/600x400', 'https://placehold.it/600x400', 'https://placehold.it/600x400', 'https://placehold.it/600x400', 'https://placehold.it/600x400', 'https://placehold.it/600x400']
- var gearCamera = ['@@plugin[IndividualProduct{stockcode:}]', '@@plugin[IndividualProduct{stockcode:}]'];
- var gearLens = ['@@plugin[IndividualProduct{stockcode:}]', '@@plugin[IndividualProduct{stockcode:}]', '@@plugin[IndividualProduct{stockcode:}]', '@@plugin[IndividualProduct{stockcode:}]', '@@plugin[IndividualProduct{stockcode:}]', '@@plugin[IndividualProduct{stockcode:}]']
- var video = ['Video Link Here']

doctype html
html(lang="en")
    include includes/head.pug
    body
        include includes/breadcrumbs.pug

        // START
        .pc-mainWrapper
          .pc-wrapper.pc-column.pc-col1
            h1 #{title}
          hr
          .pc-wrapper.pc-column.pc-col1
            h2 #{photographer}
            h3 BIOGRAPHY
          .pc-wrapper.pc-rowNoWrap
            .pc-column.pc-col2
              img(src=biographyImageURL, alt='')
              .pc-wrapper.pc-rowNoWrap.pc-social.pc-col1
                h4 Follow #{photographer}
                a(href='' title='')
                  img(src='https://content.parkcameras.com/5/1/images/Icon_Facebook.png' alt='')
                a(href='' title='')
                  img(src='https://content.parkcameras.com/5/1/images/Icon_Twitter.png' alt='')
                a(href='' title='')
                  img(src='https://content.parkcameras.com/5/1/images/Icon_Instagram.png' alt='')
            .pc-column.pc-col2
                each paragraph in biography
                    p=paragraph
                ul.pc-itemFeat 
                  p Awards &amp; Recognitions
                  each awards in accolades
                    li= awards
          hr
          .pc-wrapper.pc-column.pc-col1
            h3 SHOWCASE
            .pc-itemGallery
              each URL in galleryImageURL   
                a.swipebox(rel='1', href=URL, alt='')
                    img(src=URL, alt='')
            span.pc-trademark #{photographer}
          hr
          .pc-wrapper.pc-column.pc-col1
            h3 GEAR
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lobortis facilisis leo, nec rutrum nisi euismod et. Donec sit amet nisi pellentesque, interdum urna non, viverra lacus. Pellentesque euismod sit amet mi non condimentum. In pretium dui leo, non malesuada arcu iaculis ut. Morbi maximus nisi sem, nec tristique massa ultricies quis. Morbi consequat ullamcorper magna sit amet facilisis.
          .pc-wrapper.pc-pluginLayoutNoInfo
            each SKU in gearCamera
              .pc-col4
                span=SKU
          .pc-wrapper.pc-column.pc-col1
          .pc-wrapper.pc-pluginLayout
            each SKU in gearLens
              .pc-col3
                span=SKU
              
          include includes/foot.pug
        
        // FINISH

        include includes/bottomScripts.pug
