- var title = 'Park Cameras Ambassador'
- var photographer = 'Andy Rouse'
- var biography = ['Andy Rouse is a professional Wildlife and Aviation photographer with nearly two decades of imaging experience to call upon. Rouse has been a Park Cameras Ambassador since early 2016 and attends our annual Imaging Festival where he offers his pro advice and talks about his experiences – of which there are many and varied.', 'Rouse has a deep love for wildlife that inspires him to photograph some of the world’s most endangered and protected creatures. This led him to become an ambassador for 21st Century Tiger to support the efforts to protect wild tigers. Rouse also donates to charity through his aviation photography, supporting charities including Aerobility.', 'With a kit bag that most of us can only dream of and an enviously large and diverse image library to his name, Andy Rouse is a professional in name and nature and is a true ambassador not only for Park Cameras but for the photographic industry as a whole']
- var accolades = ['Insert Awards Here', 'Insert Another Award Here']
- var biographyImageURL = 'https://www.naturalworldsafaris.com/~/media/images/photographers-and-guides/andy-rouse/andy-rouse-madagascar.ashx'
- var galleryImageURL =['https://content.parkcameras.com/5/1/images/landing_pages/ar1.jpg', 'https://content.parkcameras.com/5/1/images/landing_pages/ar2.jpg', 'https://content.parkcameras.com/5/1/images/landing_pages/ar3.jpg', 'https://content.parkcameras.com/5/1/images/landing_pages/ar4.jpg', 'https://content.parkcameras.com/5/1/images/landing_pages/ar5.jpg', 'https://content.parkcameras.com/5/1/images/landing_pages/ar6.jpg']
- var gearCamera = ['@@plugin[IndividualProduct{stockcode:1010029H}]', '@@plugin[IndividualProduct{stockcode:1010055C}]', '@@plugin[IndividualProduct{stockcode:1013125T}]', '@@plugin[IndividualProduct{stockcode:1638118K}]']
- var gearLens = ['@@plugin[IndividualProduct{stockcode:1240614E}]', '@@plugin[IndividualProduct{stockcode:1240623D}]', '@@plugin[IndividualProduct{stockcode:1240435C}]']
- var gearAccessories = ['@@plugin[IndividualProduct{stockcode:M1720075T}]', '@@plugin[IndividualProduct{stockcode:9637006G}]', '@@plugin[IndividualProduct{stockcode:L334505T}]']

// Blogs
- var blogs = [{title: 'Andy Rouses Essential Lens - The Canon EF 100-400mm', img: 'https://4.bp.blogspot.com/-JGbbK9jAkl0/WTrCHRN1qGI/AAAAAAAACkA/iDZ2OM36ma4OI1I2TT0i1ub4ub14xkqOgCLcB/s640/other%2Bbird.jpg', url: 'http://blog.parkcameras.com/2017/06/andy-rouses-essential-lens-canon-ef-100.html', desc: 'Sometimes, tools-of-the-trade become more than mere objects to us photographers and we develop a..'}, {title: 'Andy Rouses Shooting Wildlife with the Canon 5D Mark IV', img: 'https://2.bp.blogspot.com/-Mgwm00hqo-E/WN5mJ9Du_jI/AAAAAAAABh0/1KuFTHdW7Yo0KQthiePC4h8YNCqC1iMjwCLcB/s640/Tiger1.jpg', url: 'http://blog.parkcameras.com/2017/03/shooting-wildlife-canon-eos-5d-iv.html', desc: 'Greetings Park Cameras readers, it’s been a while I know and I hope that you have missed me. As I type this I’m sitting in the BA lounge at Heathrow about to..'}];

// Videos
- var videos = [{title: 'Andy Rouse Exclusive: Hands-On with the Canon EOS-1DX Mark II', img: 'https://i.ytimg.com/vi/z3s-KQXuES0/hqdefault.jpg?sqp=-oaymwEWCMQBEG5IWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLAhOZyA2JNcF-ZueQNoLY5l1KXCrg', url: 'https://www.youtube.com/watch?v=z3s-KQXuES0&t=341s', desc: 'Professional wildlife photographer - and Park Cameras ambassador - Andy Rouse goes hands on with the Canon EOS 1D X Mark II.'}];

doctype html
html(lang="en")
    include includes/head.pug
    body
        include includes/breadcrumbs.pug

        // START
        .pc-mainWrapper
          .pc-wrapper.pc-column.pc-col1
            h1 #{title}
          hr
          .pc-wrapper.pc-column.pc-col1
            h2 #{photographer}
            h3 BIOGRAPHY
          .pc-wrapper.pc-rowNoWrap
            .pc-column.pc-col2
              img(src=biographyImageURL, alt='')
              .pc-wrapper.pc-rowNoWrap.pc-social.pc-col1
                a(href='http://www.facebook.com/andyrousephoto' target='_blank' title='Facebook')
                  img(src='https://content.parkcameras.com/5/1/images/Icon_Facebook.png' alt='')
                a(href='https://twitter.com/wildmanrouse' target='_blank' title='Twitter')
                  img(src='https://content.parkcameras.com/5/1/images/Icon_Twitter.png' alt='')
                a(href='https://www.instagram.com/wildmanrouse/' target='_blank' title='Instagram')
                  img(src='https://content.parkcameras.com/5/1/images/Icon_Instagram.png' alt='')
                a(href='https://www.andyrouse.co.uk/index.php?b=1' target='_blank' title='Blog')
                  img(src='https://content.parkcameras.com/5/1/images/Icon_Blog.png' alt='')
            .pc-column.pc-col2
                each paragraph in biography
                    p=paragraph
                ul.pc-itemFeat 
                  p Awards &amp; Recognitions
                  each awards in accolades
                    li= awards
          hr
          .pc-wrapper.pc-column.pc-col1
            h3 SHOWCASE
            .pc-itemGallery
              each URL in galleryImageURL   
                a.swipebox(rel='1', href=URL, alt='')
                    img(src=URL, alt='')
            p.pc-trademark #{photographer}
          hr
          .pc-wrapper.pc-column.pc-col1
            h3 GEAR
            p Andy Rouse is not only a Park Cameras Ambassador, he’s also a Canon Explorer – an acknowledgment that he is a nationally renowned photographer, specialising in Wildlife and Aviation photography.
            p With a kit bag that makes him the envy of most colleagues, Rouse uses the latest Canon gear and often reviews new equipment for us.
            p Here you’ll find the gear that Rouse uses for all his photography and videography.
          .pc-wrapper.pc-pluginLayout.pc-pluginLayoutHidePrice
            each SKU in gearCamera
              .pc-col4
                span=SKU
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur, nisi sed sagittis fermentum, lacus neque iaculis sapien, vel vestibulum velit dolor nec elit.
          .pc-wrapper.pc-column.pc-col1
          .pc-wrapper.pc-pluginLayout.pc-pluginLayoutHidePrice
            each SKU in gearLens
              .pc-col4
                span=SKU
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur, nisi sed sagittis fermentum, lacus neque iaculis sapien, vel vestibulum velit dolor nec elit.
          .pc-wrapper.pc-column.pc-col1
          .pc-wrapper.pc-pluginLayout.pc-pluginLayoutHidePrice
            each SKU in gearAccessories
              .pc-col4
                span=SKU
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur, nisi sed sagittis fermentum, lacus neque iaculis sapien, vel vestibulum velit dolor nec elit.

          // Blog and Videos
          include includes/blogAndVideos.pug


          hr
          .pc-wrapper.pc-column
            .pc-banner.pc-banner-overlay(style="background-image: url('https://www.foto-buzz.com/images/siteimages/Beach2e595iq.jpg');")
              h2 Start A Fotobuzz Membership Today
              p.pc-spacer-l.pc-charLength66 What is FotoBuzz? It's an exclusive photography community hidden behind closed doors so members can enjoy expert articles, talk among themselves, ask for advice, upload images for critique and take part in competitions, all in a 100% safe environment. Membership is open to anyone who wants to learn about photography and have fun doing it!
              p
                i Andy Rouse &amp; Andrew James
              p
                i FotoBuzz HQ
              img.pc-bannerImg(src='http://content.parkcameras.com/5/1/images/landing_pages/foto-buzz.png', alt='FotoBuzz Logo')
              a.pc-btn-inverse(href='https://www.foto-buzz.com/', target='_blank', title='FotoBuzz Website') Sign Up
              
          include includes/foot.pug
        
        // FINISH

        include includes/bottomScripts.pug
