- var title = 'Park Cameras Ambassadors'
- var photographer = 'Insert Photographer Name Here'
- var biography = 'Insert Biography Here'
- var biographyImageURL = 'https://placehold.it/400x600'
- var galleryImageURL =['https://placehold.it/600x400', 'https://placehold.it/600x400', 'https://placehold.it/600x400', 'https://placehold.it/600x400']
- var gearCamera = ['@@plugin[IndividualProduct{stockcode:1010029H}]', '@@plugin[IndividualProduct{stockcode:1010064B}]'];
- var gearLens = ['@@plugin[IndividualProduct{stockcode:1240057M}]', '@@plugin[IndividualProduct{stockcode:1240407E}]', '@@plugin[IndividualProduct{stockcode:1240432K}]', '@@plugin[IndividualProduct{stockcode:1240534R}]', '@@plugin[IndividualProduct{stockcode:1240623D}]', '@@plugin[IndividualProduct{stockcode:1240363D}]']

doctype html
html(lang="en")
    include includes/head.pug
    body
        include includes/breadcrumbs.pug

        // START
        .pc-mainWrapper
          .pc-wrapper.pc-column.pc-col1
            h1 #{title}
          hr
          .pc-wrapper.pc-column.pc-col
            h2 #{photographer}
          .pc-wrapper.pc-row
            .pc-column.pc-col2
              img(src=biographyImageURL, alt='')
            .pc-column.pc-col2
                h3 BIOGRAPHY
                p #{biography}
                h3 PHOTO GALLERY
                .pc-itemGallery
                  each URL in galleryImageURL   
                    a.swipebox(rel='1', href=URL, alt='')
                        img(src=URL, alt='')
          .pc-wrapper.pc-column.pc-col1
            h3 GEAR
          .pc-wrapper.pc-pluginLayout
            each SKU in gearCamera
              .pc-col4
                span=SKU
          .pc-wrapper.pc-column.pc-col1
          .pc-wrapper.pc-pluginLayout
            each SKU in gearLens
              .pc-col3
                span=SKU
          .pc-wrapper.pc-row
            .pc-column.pc-col2
              h3 VIDEO REVIEWS
              .pc-wrapperVideo
                iframe(src='https://www.youtube.com/embed/z3s-KQXuES0', allowfullscreen='')
            .pc-column.pc-col2
              h3 BLOG POSTS
          // FINISH
    
        include includes/bottomScripts.pug
