- var title = 'Park Cameras Ambassador'
- var photographer = 'Andy Rouse'
- var biography = ['Andy Rouse is a professional Wildlife and Aviation photographer with nearly two decades of imaging experience to call upon. Rouse has been a Park Cameras Ambassador since early 2016 and attends our annual Imaging Festival where he offers his pro advice and talks about his experiences – of which there are many and varied.', 'Rouse has a deep love for wildlife that inspires him to photograph some of the world’s most endangered and protected creatures. This led him to become an ambassador for 21st Century Tiger to support the efforts to protect wild tigers. Rouse also donates to charity through his aviation photography, supporting charities including Aerobility.', 'With a kit bag that most of us can only dream of and an enviously large and diverse image library to his name, Andy Rouse is a professional in name and nature and is a true ambassador not only for Park Cameras but for the photographic industry as a whole']
- var accolades = ['Insert Awards Here', 'Insert Another Award Here']
- var biographyImageURL = 'https://www.naturalworldsafaris.com/~/media/images/photographers-and-guides/andy-rouse/andy-rouse-madagascar.ashx'
- var galleryImageURL =['https://content.parkcameras.com/5/1/images/landing_pages/ar1.jpg', 'https://content.parkcameras.com/5/1/images/landing_pages/ar2.jpg', 'https://content.parkcameras.com/5/1/images/landing_pages/ar3.jpg', 'https://content.parkcameras.com/5/1/images/landing_pages/ar4.jpg', 'https://content.parkcameras.com/5/1/images/landing_pages/ar5.jpg', 'https://content.parkcameras.com/5/1/images/landing_pages/ar6.jpg']
- var gearCamera = ['@@plugin[IndividualProduct{stockcode:1010029H}]', '@@plugin[IndividualProduct{stockcode:1010055C}]', '@@plugin[IndividualProduct{stockcode:1013125T}]', '@@plugin[IndividualProduct{stockcode:1638118K}]']
- var gearLens = ['@@plugin[IndividualProduct{stockcode:1240614E}]', '@@plugin[IndividualProduct{stockcode:1240623D}]', '@@plugin[IndividualProduct{stockcode:1240435C}]']
- var gearAccessories = ['@@plugin[IndividualProduct{stockcode:M1720075T}]', '@@plugin[IndividualProduct{stockcode:9637006G}]', '@@plugin[IndividualProduct{stockcode:L334505T}]']
- var video = ['Video Link Here']

doctype html
html(lang="en")
    include includes/head.pug
    body
        include includes/breadcrumbs.pug

        // START
        .pc-mainWrapper
          .pc-wrapper.pc-column.pc-col1
            h1 #{title}
          hr
          .pc-wrapper.pc-column.pc-col1
            h2 #{photographer}
            h3 BIOGRAPHY
          .pc-wrapper.pc-rowNoWrap
            .pc-column.pc-col2
              img(src=biographyImageURL, alt='')
              .pc-wrapper.pc-rowNoWrap.pc-social.pc-col1
                a(href='http://www.facebook.com/andyrousephoto' target='_blank' title='Facebook')
                  img(src='https://content.parkcameras.com/5/1/images/Icon_Facebook.png' alt='')
                a(href='https://twitter.com/wildmanrouse' target='_blank' title='Twitter')
                  img(src='https://content.parkcameras.com/5/1/images/Icon_Twitter.png' alt='')
                a(href='https://www.instagram.com/wildmanrouse/' target='_blank' title='Instagram')
                  img(src='https://content.parkcameras.com/5/1/images/Icon_Instagram.png' alt='')
                a(href='https://www.andyrouse.co.uk/index.php?b=1' target='_blank' title='Blog')
                  img(src='https://content.parkcameras.com/5/1/images/Icon_Blog.png' alt='')
            .pc-column.pc-col2
                each paragraph in biography
                    p=paragraph
                ul.pc-itemFeat 
                  p Awards &amp; Recognitions
                  each awards in accolades
                    li= awards
          hr
          .pc-wrapper.pc-column.pc-col1
            h3 SHOWCASE
            .pc-itemGallery
              each URL in galleryImageURL   
                a.swipebox(rel='1', href=URL, alt='')
                    img(src=URL, alt='')
            span.pc-trademark #{photographer}
          hr
          .pc-wrapper.pc-column.pc-col1
            h3 GEAR
            p Andy Rouse is not only a Park Cameras Ambassador, he’s also a Canon Explorer – an acknowledgment that he is a nationally renowned photographer, specialising in Wildlife and Aviation photography.
            p With a kit bag that makes him the envy of most colleagues, Rouse uses the latest Canon gear and often reviews new equipment for us.
            p Here you’ll find the gear that Rouse uses for all his photography and videography.
          .pc-wrapper.pc-pluginLayout
            each SKU in gearCamera
              .pc-col4
                span=SKU
          .pc-wrapper.pc-column.pc-col1
          .pc-wrapper.pc-pluginLayout
            each SKU in gearLens
              .pc-col4
                span=SKU
          .pc-wrapper.pc-column.pc-col1
          .pc-wrapper.pc-pluginLayout
            each SKU in gearAccessories
              .pc-col4
                span=SKU
          hr
          .pc-wrapper.pc-row
            .pc-column.pc-col2
              h3 Blog Posts
              .pc-wrapper.pc-row
                .pc-column.pc-col4
                  a(href='http://blog.parkcameras.com/2017/06/andy-rouses-essential-lens-canon-ef-100.html' target='_blank' title='Read Andy Rouses Essential Lens - The Canon EF 100-400mm') 
                    img(src="https://3.bp.blogspot.com/-CTuqOQYGAFQ/WTrCChSVeCI/AAAAAAAACj8/-7TYi4DV0KQkGSb3Qqc849wY6N3bVtA-wCLcB/s640/bird.jpg", alt='Andy Rouses Essential Lens - The Canon EF 100-400mm')
                .pc-column.pc-col4
                  h4.pc-articleTitle
                    a(href='http://blog.parkcameras.com/2017/06/andy-rouses-essential-lens-canon-ef-100.html' target='_blank' title='Read Andy Rouses Essential Lens - The Canon EF 100-400mm') ANDY ROUSE'S ESSENTIAL LENS - THE CANON EF 100-400MM
                  p Sometimes, tools-of-the-trade become more than mere objects to us photographers and we develop a.. 
                    a(href='http://blog.parkcameras.com/2017/06/andy-rouses-essential-lens-canon-ef-100.html' target='_blank' title='Read Andy Rouses Essential Lens - The Canon EF 100-400mm') Read More
              .pc-wrapper.pc-row
                .pc-column.pc-col4
                  img(src="https://www.placehold.it/800x800")
                .pc-column.pc-col4
                  h4 Title
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet placerat pellentesque. In non tortor sed neque egestas tempus sed a ex. Pellentesque volutpat tempus tortor, nec consequat mi faucibus nec.     
            .pc-column.pc-col2
              h3 Video Reviews
              .pc-wrapper.pc-row
                .pc-column.pc-col4
                  img(src="https://www.placehold.it/800x800")
                .pc-column.pc-col4
                  h4 Title
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet placerat pellentesque. In non tortor sed neque egestas tempus sed a ex. Pellentesque volutpat tempus tortor, nec consequat mi faucibus nec.
              .pc-wrapper.pc-row
                .pc-column.pc-col4
                  img(src="https://www.placehold.it/800x800")
                .pc-column.pc-col4
                  h4 Title
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet placerat pellentesque. In non tortor sed neque egestas tempus sed a ex. Pellentesque volutpat tempus tortor, nec consequat mi faucibus nec.
          hr.pc-spacer-xl
          .pc-wrapper.pc-column
            .pc-banner.pc-banner-overlay.pc-spacer-xl(style="background-image: url('https://www.foto-buzz.com/images/siteimages/Beach2e595iq.jpg');")
              h2 START A FOTOBUZZ MEMBERSHIP TODAY
              p.pc-spacer-l.pc-charLength66 What is FotoBuzz? It's an exclusive photography community hidden behind closed doors so members can enjoy expert articles, talk among themselves, ask for advice, upload images for critique and take part in competitions, all in a 100% safe environment. Membership is open to anyone who wants to learn about photography and have fun doing it!
              h4
                i Andy Rouse &amp; Andrew James
              p.pc-spacer-xl(style='position: relative;')
                i FotoBuzz HQ
                img(src='http://content.parkcameras.com/5/1/images/landing_pages/foto-buzz.png', alt='FotoBuzz Logo' style="max-width: 100px; position: absolute; top: -1.15rem; left: 8.05rem")
              a.pc-btn-inverse(href='https://www.foto-buzz.com/', target='_blank', title='FotoBuzz Website') Sign Up
              
          include includes/foot.pug
        
        // FINISH

        include includes/bottomScripts.pug
