- var title = 'Canon EOS 6D Mark II'
- var mainImageURL = '67295-FRT.jpg';
- var subImageURL = ['67296-LCD-BCK.jpg', '67298-LCD-Open-BCK.jpg', '67294-Down-TOP.jpg', '67299-LEFT-SIDE.jpg', '67302-RIGHT-SIDE.jpg'];
- var description = ['Break through new creative boundaries with advanced performance, innovative features, and the full-frame advantage with the new Canon EOS 6D Mark II, giving you more control over depth of field, and superb low-light performance.', 'Packing a 26.2 megapixel full-frame CMOS sensor into a chunkier body, along with Canon’s famed Dual Pixel CMOS AF for accurate and confident focussing in Live View mode, and 6.5fps continuous shooting ability, the follow-up to Canon’s entry-level full frame DSLR is a step up for anyone looking to make the move into the world of full frame DSLR photography.']
- var features = ['Full Frame 26.2 megapixel CMOS Sensor', 'DIGIC 7 image processor', 'Canon full-frame EF Lens mount', 'ISO range up to 40,000 (expandable up to ISO 102,400)', 'Dual Pixel CMOS AF', '45 cross-type AF points', '6.5fps continuous shooting', 'In-camera 4K timelapse', 'Familiar Canon DSLR design', 'Vari-angle touchscreen', 'Large optical viewfinder', 'Full 1080p HD video shooting', 'Constant Bluetooth connection with smartphone or tablet', 'Easy Wi-Fi activation', 'Shoot remotely using smartphone/tablet as the screen', 'Built-in GPS to geotag images as you shoot'];
- var productSKU = '1010062T';
- var tradeInItems= [{model: 'Canon EOS 6D', value: '650', final: '1,349'}, {model: 'Canon EOS 5D Mark II', value: '400', final: '1,599'}, {model: 'Canon EOS 5D Mark III', value: '1,000', final: '999'}];

// Body and Kits

- var bodyAndKits = ['@@plugin[IndividualProduct{stockcode:1010062T}]', '@@plugin[IndividualProduct{stockcode:1010063D}]'];

// Accessories

- var accessories = ['@@plugin[IndividualProduct{stockcode:1150097F}]', '@@plugin[IndividualProduct{stockcode:1090107M}]'];

// Recommended Lenses

- var recommendedLenses = ['@@plugin[IndividualProduct{stockcode:1240439N}]', '@@plugin[IndividualProduct{stockcode:1240435C}]', '@@plugin[IndividualProduct{stockcode:1240161}]']

// Blogs
- var blogs = [{title: 'Canon 6D vs 6D Mark II Review', img: 'https://4.bp.blogspot.com/-JWlh4Y6H8F8/WVOuLx-SJ_I/AAAAAAAACoU/DxvYNzURtXUTcO4-_quCTyiHgHMcOQA-ACLcBGAs/s640/Canon-6d-vs-6d-mark-ii.jpg', url: 'http://blog.parkcameras.com/2017/06/canon-6d-vs-6d-mark-ii-review.html', desc: "It could be said that no move is more significant in a photographers' journey than the move from a crop sensor to a.."}, {title: 'Canon 6D Mark II: 6 Things You May Have Missed', img: 'https://2.bp.blogspot.com/-ZKAUlTnLZ0g/WVPmxFs94VI/AAAAAAAACo4/0fMuAlyyCa0yVzS5p7QFAlNAp51RcdjfwCLcBGAs/s640/Left%2BLCD%2BOpen%2BEF24-70mm%2BF4L%2BUSM%2BFSL.jpg', url: 'http://blog.parkcameras.com/2017/06/canon-6d-mark-ii-6-things-missed.html', desc: "With today's announcement by Canon that they've revamped their entry-level full-frame DSLR, the EOS 6D and.."}];

// Videos
- var videos = [{title: 'Canon 6D Mark II - Hands-On First Look', img: 'https://i.ytimg.com/vi/Faf2yYlHSeU/hqdefault.jpg?sqp=-oaymwEWCMQBEG5IWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLB3yCzmHkpnqDoW4bKjMlVvUnBHgA', url: 'https://www.youtube.com/watch?v=Faf2yYlHSeU', desc: "When you're ready to move up to a full-frame DSLR, the new Canon EOS 6D Mark II is your route into this world."}, {title: 'Canon 6D Mark II - In-Depth Review', img: 'https://i.ytimg.com/vi/_Gkmqh3T1jc/hqdefault.jpg?sqp=-oaymwEWCMQBEG5IWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLC7QsfPuOyqJUNwNanJnMcfkug27w', url: 'https://www.youtube.com/watch?v=_Gkmqh3T1jc&t=634s', desc: "How does the Canon EOS 6D Mark II stack up when it's put to the test on macro photography, shooting motor racing at high speed, photographing expansive landscapes, and capturing fast flying birds?"}];

//

doctype html
html(lang="en")
    include includes/head.pug
    body
        include includes/breadcrumbs.pug

        // START
        
        .pc-mainWrapper
          .pc-wrapper.pc-column.pc-col1
            h1 #{title}
          hr
          .pc-wrapper.pc-rowNoWrap
            .pc-column.pc-col2
              a.swipebox(rel='1', href='https://content.parkcameras.com/5/1/images/catalog/i/' + mainImageURL, title=title)
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/' + mainImageURL, alt=title)
            
              .pc-itemGallery
                each URL in subImageURL   
                    a.swipebox(rel='1', href='https://content.parkcameras.com/5/1/images/catalog/i/' + URL, title=title)
                      img(src='https://content.parkcameras.com/5/1/images/catalog/i/xl_' + URL, alt=title)

            .pc-column.pc-col2
              each paragraph in description
                p=paragraph
              ul.pc-itemFeat 
                  p Features
                  each feats in features
                    li= feats
              br
              a.pc-btn-standard(href='https://www.parkcameras.com/p/' + productSKU) Shop Now
        
          // Body and Kits
          include includes/bodyAndKits.pug
          
          // Accessories
          include includes/accessories.pug
          
          // Recommended Lenses
          include includes/recommendedLenses.pug
          
          // Trade-In Bonus
          hr
          .pc-wrapper.pc-column
            h2 Trade-In
            table
              tr
                td(style='background-color: #e4e4e4;')
                  b Trade-In Model
                td(style='background-color: #e4e4e4;')
                  b Trade-In Value
                td(style='color: #FFF; background-color: #2d4d9c;')
                  b You Could Pay
              each item in tradeInItems
                tr
                  td= item.model
                  td &pound;#{item.value}
                  td(style='color: #2d4d9c;') &pound;#{item.final}

            p.pc-footerNote 
              | *Trade-in value dependent on condition of used camera, prices shown are maximum paid for each model.
              br
              | Trade-in only applicable when trading in the above models against the #{title}.
              
          hr
          .pc-wrapper.pc-column
            h2 Competition
            .pc-banner.pc-banner-overlay(style="background-image:  url('https://content.parkcameras.com/5/1/images/Article%20Images/duluxe_trip_paris_6d_mark_ii_1.jpg');")
              h2 Purchase the Canon EOS 6D Mark II for a chance to WIN one of two fantastic prizes from Virgin Experiences!
              p To celebrate the release of this exciting new addition to the Canon line-up, we are offering 
                b THREE 
                |lucky customers the chance to win a Luxury day trip to Paris for two, including a Champagne lunch at the Eiffel Tower!
              p You’ll be able to take your EOS 6D Mark II and explore one of the most beautiful cities in the world. The trip will depart from central London and you’ll travel in style with reserved seats on a Eurostar train.
              img.pc-bannerImg(src='https://content.parkcameras.com/5/1/images/Article%20Images/Canon_Pro_Partner_6d_ii_comp.png', alt='Canon Pro Partner Logo')
              a.pc-btn-inverse(href='https://www.parkcameras.com/canon-eos-6d-mark-ii-competition', target='_blank', title='FotoBuzz Website') Learn More
          
          
          // Blog and Videos
          include includes/blogAndVideos.pug
          
        
          include includes/foot.pug
        
        // FINISH

        include includes/bottomScripts.pug