- var title = 'Nikon D7500'
- var mainImageURL = '61519-nikon_dslr_d7500_0005_D7500_front_1.jpg';
- var subImageURL = ['61520-nikon_dslr_d7500_0003_D7500_top.jpg', '61521-nikon_dslr_d7500_0012_D7500_18_140_tilt_3.jpg', '61522-nikon_dslr_d7500_0014_D7500_18_140_tilt_1.jpg', '61523-nikon_dslr_d7500_0013_D7500_18_140_tilt_2.jpg', '61524-nikon_dslr_d7500_0015_D7500_18_140_SLup.jpg'];
- var description = 'The Nikon D7500 is a DX format crop-sensor enthusiast (mid-range) level digital SLR that replaces the D7200 and features an improved set of capabilities, some of which have been borrowed from its big brother, the Nikon D500, which make this a extremely capable and versatile DSLR for all occasions. '
- var features = ['20.9 megapixel DX format CMOS Sensor (from the Nikon D500)', 'EXPEED 5 image processor', 'ISO Sensitivity from 100-51,200 (expandable to ISO 50 – 1,640,000)', '4K UHD Video (3840 x 2160 at 30p)', 'Multi-CAM 3500 II 51 point Autofocus system', '8fps continuous shooting in DX mode & 1.3x crop', '3.2 inch tiltable LCD touchscreen', 'WiFi, Bluetooth, and Snapbridge connectivity', 'Weighs only 640g (body only)'];
- var productSKU = '3010274K';

// Body and Kits

- var bodyAndKits = ['@@plugin[IndividualProduct{stockcode:3010274K}]', '@@plugin[IndividualProduct{stockcode:3010276K}]'];

//

doctype html
html(lang="en")
    include includes/head.pug
    body
        include includes/breadcrumbs.pug

        // START
        
        .pc-mainWrapper
          .pc-wrapper.pc-column.pc-col1
            h1 #{title}
          hr
          .pc-wrapper.pc-rowNoWrap
            .pc-column.pc-col2
              a.swipebox(rel='1', href='https://content.parkcameras.com/5/1/images/catalog/i/' + mainImageURL, title=title)
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/' + mainImageURL, alt=title)
              
              .pc-itemGallery
                each URL in subImageURL   
                    a.swipebox(rel='1', href='https://content.parkcameras.com/5/1/images/catalog/i/' + URL, title=title)
                      img(src='https://content.parkcameras.com/5/1/images/catalog/i/xl_' + URL, alt=title)

            .pc-column.pc-col2
              p #{description}
              ul.pc-itemFeat 
                  p Features
                  each feats in features
                    li= feats
              br
              a.pc-btn-standard(href='https://www.parkcameras.com/p/' + productSKU) Pre-Order Now
        
          // Body and Kits
          include includes/bodyAndKits.pug
          
          // Trade-In Bonus
          include includes/tradeIn-D7500.pug
        
          include includes/foot.pug
        
        // FINISH

        include includes/bottomScripts.pug