- var title = 'Canon EOS 200D'
- var mainImageURL = '67693-FRT.jpg';
- var subImageURL = ['67695-LCD-BCK.jpg', '67696-LCD-Out-BCK.jpg', '67699-TOP.jpg', '67697-LEFT-SIDE.jpg', '67698-RIGHT-SIDE.jpg'];
- var description = ['Visual storytelling is made easy with the Canon EOS 200D – a feature-packed digital SLR camera that combines familiar touchscreen controls with superb image quality & offers you access to Canon’s legendary range of interchangeable lenses.', 'You can use the EOS 200D how you want to; it gives you the freedom to shoot cinematic Full HD movies & simply share videos and images online by easily transferring them to your smart device.']
- var features = ['Next-generation 24.2 megapixel CMOS Sensor', 'World’s lightest DSLR', 'Bright optical viewfinder', 'Vari-angle touchscreen', 'World’s fastest Live View Autofocus system', 'Wirelessly transfer images to smartphone or tablet', 'Bluetooth, NFC, and Wi-Fi connectivity', 'Control the camera from your smart device', 'Full 1080p HD movie recording', 'Dual Pixel CMOS AF focusing system', 'Time-lapse movie function', 'Access to Canon lenses & accessories', 'DIGIC 7 processor for fast handling images quickly'];
- var productSKU = '1011093E';
- var tradeInItems= [{model: 'Canon EOS 100D', value: '140', final: '439'}, {model: 'Canon EOS 1300D', value: '145', final: '434'}, {model: 'Canon EOS 1200D', value: '100', final: '479'}];

// Body and Kits

- var bodyAndKits = ['@@plugin[IndividualProduct{stockcode:1011093E}]', '@@plugin[IndividualProduct{stockcode:1011095E}]', '@@plugin[IndividualProduct{stockcode:1011095S}]', '@@plugin[IndividualProduct{stockcode:1011095W}]'];

// Body and Kits

- var recommendedLenses = ['@@plugin[IndividualProduct{stockcode:1240424C}]', '@@plugin[IndividualProduct{stockcode:1240427C}]', '@@plugin[IndividualProduct{stockcode:1240174}]'];

//

doctype html
html(lang="en")
    include includes/head.pug
    body
        include includes/breadcrumbs.pug

        // START
        
        .pc-mainWrapper
          .pc-wrapper.pc-column.pc-col1
            h1 #{title}
          hr
          .pc-wrapper.pc-rowNoWrap.pc-spacer-xl
            .pc-column.pc-col2
              a.swipebox(rel='1', href='https://content.parkcameras.com/5/1/images/catalog/i/' + mainImageURL, title=title)
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/' + mainImageURL, alt=title)
            
              .pc-itemGallery
                each URL in subImageURL   
                    a.swipebox(rel='1', href='https://content.parkcameras.com/5/1/images/catalog/i/' + URL, title=title)
                      img(src='https://content.parkcameras.com/5/1/images/catalog/i/xl_' + URL, alt=title)

            .pc-column.pc-col2
              each paragraph in description
                p= paragraph
              ul.pc-itemFeat 
                  p Features
                  each feats in features
                    li= feats
              br
              a.pc-btn-standard(href='https://www.parkcameras.com/p/' + productSKU) Pre-Order Now
        
          // Body and Kits
          include includes/bodyAndKits.pug
          
          // Trade-In Bonus
          .pc-wrapper.pc-column
            h3 Trade-In
            table
              tr
                td(style='background-color: #e4e4e4;')
                  b Trade-In Model
                td(style='background-color: #e4e4e4;')
                  b Trade-In Value
                td(style='color: #FFF; background-color: #2d4d9c;')
                  b You Could Pay
              each item in tradeInItems
                tr
                  td= item.model
                  td &pound;#{item.value}
                  td(style='color: #2d4d9c;') &pound;#{item.final}

            p.pc-footerNote.pc-spacer-xl
              | *Trade-in value dependent on condition of used camera, prices shown are maximum paid for each model.
              br
              | Trade-in only applicable when trading in the above models against the #{title}.
              
          hr.pc-spacer-xl
              
          // Recommended Lenses
          include includes/recommendedLenses.pug
          
          hr.pc-spacer-xl
          .pc-wrapper.pc-row
            .pc-column.pc-col2
              h3 Blog Posts
              
              
              .pc-wrapper.pc-row
                .pc-column.pc-col4
                  a(href='http://blog.parkcameras.com/2017/06/canon-100d-vs-canon-200d-review.html' target='_blank' title='Read Canon EOS 100D vs Canon 200D Review')
                    img(src='https://2.bp.blogspot.com/-zvG_bTX0Wlw/WVKB0hRw9sI/AAAAAAAACoE/o70t1tYQldAPx87H24PMzXnY0qpbIi9CwCLcBGAs/s640/Canon-EOS-100D-Vs-EOS-200D.jpg', alt='Canon EOS 100D vs Canon 200D Review')
                .pc-column.pc-col4
                  h4.pc-articleTitle
                    a(href='http://blog.parkcameras.com/2017/06/canon-100d-vs-canon-200d-review.html' target='_blank' title='Read Canon EOS 100D vs Canon 200D Review') Canon EOS 100D vs Canon 200D Review
                  p When you find that your photography needs more than your compact camera or bridge camera can offer, the next step is.. 
                    a(href='http://blog.parkcameras.com/2017/06/canon-100d-vs-canon-200d-review.html' target='_blank' title='Read Canon EOS 100D vs Canon 200D Review') Read More
                    
                    
            .pc-column.pc-col2
              h3 Video Reviews
              .pc-wrapper.pc-row
                .pc-column.pc-col4
                  a(data-lity, href='https://www.youtube.com/watch?v=-BF3b3L9osg&t=1s' target='_blank' title='Watch Canon EOS 200D - Hands-On First Look') 
                    img(src='https://i.ytimg.com/vi/-BF3b3L9osg/hqdefault.jpg?sqp=-oaymwEWCMQBEG5IWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLBR-anBMtYHYo0jPvrFZBfqDcQIeg', alt='Canon EOS 200D - Hands-On First Look')
                .pc-column.pc-col4
                  h4.pc-articleTitle
                    a(data-lity, href='https://www.youtube.com/watch?v=-BF3b3L9osg&t=1s' target='_blank' title='Watch Canon EOS 200D - Hands-On First Look') Canon EOS 200D - Hands-On First Look
                  p Learn photography & develop your visual storytelling with the Canon EOS 200D - the world's lightest DSLR.
        
          include includes/foot.pug
        
        // FINISH

        include includes/bottomScripts.pug